<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="User.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="User.password"></ion-input>
    </ion-item>

    <ion-button color="danger" expand="full" fill="solid" (click)="login()"
      >Login</ion-button
    >
    <ion-button
      color="secondary"
      expand="full"
      fill="outline"
      (click)="pushRegisterPage()"
      >Register</ion-button
    >
  </ion-list>
</ion-content>
