<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Најави се </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Е-маил</ion-label>
      <ion-input type="text" [(ngModel)]="User.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Лозинка</ion-label>
      <ion-input type="password" [(ngModel)]="User.password"></ion-input>
    </ion-item>

    <ion-button color="danger" expand="block" fill="solid" (click)="login()"
      >Најави се</ion-button
    >
    <ion-button
      color="dark"
      expand="block"
      fill="outline"
      (click)="pushRegisterPage()"
      >Регистрирај се</ion-button
    >
    <div style="text-align: center;" class="ion-text-center">
      <p
        color="primary"
        [routerLink]="['/forgot-password']"
        class="ion-text-center"
      >
        Заборави лозинка?
      </p>
    </div>
  </ion-list>
</ion-content>
