<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recent requests
    </ion-list-header>
    <!-- prettier-ignore -->
    <ion-item-sliding *ngFor="let requestedUser of (requestedUsers | async)">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/avatar.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ requestedUser.name }}</h2>
          <h3>{{ requestedUser.username }}</h3>
          <p>With user ID {{ requestedUser.userID }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="approveUser(requestedUser)"><ion-icon name="checkmark"></ion-icon></ion-item-option>
        <ion-item-option (click)="rejectUser(requestedUser)" color="danger"><ion-icon name="close"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Users
    </ion-list-header>
    <!-- prettier-ignore -->
    <ion-item *ngFor="let user of (users | async)">
      <ion-avatar slot="start">
        <img src="../../assets/avatar.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name }}</h2>
        <h3>{{ user.username }}</h3>
        <p>With user ID {{ user.userID }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
