<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Профил</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon slot="start" name="person"> </ion-icon>
    <ion-label>
      {{ User.name }}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="mail"> </ion-icon>
    <ion-label>
      {{ User.username }}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="finger-print"> </ion-icon>
    <ion-label>
      {{ User.userID }}
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/user-requests']" *ngIf="User.role === 'admin'">
    <ion-icon slot="start" name="settings"> </ion-icon>
    <ion-label>
      Корисници
    </ion-label>
  </ion-item>

  <ion-card *ngIf="User.role === 'admin'">
    <ion-card-header>
      <ion-card-subtitle>Креирај настан</ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-input
            placeholder="Наслов на натпреварот"
            type="text"
            [(ngModel)]="Event.matchup"
          ></ion-input>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="activated">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-item>
          <ion-input type="date" [(ngModel)]="Event.date"></ion-input>
        </ion-item>
      </ion-item>
      <ion-item class="activated">
        <ion-icon name="clock" slot="start"></ion-icon>
        <ion-item>
          <ion-input
            placeholder="Време"
            type="text"
            [(ngModel)]="Event.time"
          ></ion-input>
        </ion-item>
      </ion-item>
      <ion-item class="activated">
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-item>
          <ion-input
            placeholder="Цена"
            type="text"
            [(ngModel)]="Event.price"
          ></ion-input>
        </ion-item>
      </ion-item>
      <ion-item class="activated">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-item>
          <ion-input
            placeholder="Ресторан/Бар"
            type="text"
            [(ngModel)]="Event.place"
          ></ion-input>
        </ion-item>
      </ion-item>

      <ion-button
        fill="outline"
        color="danger"
        slot="start"
        (click)="addEvent()"
        >Креирај</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
